<div class="container">
    <mat-card>
        <mat-card-title>Cadastrar grupo de roupa</mat-card-title>        
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="cod">Cod:</label>
                    <input type="text" id="cod" class="form-control" disabled>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="modelo">Nome:</label>
                    <input type="text" id="nome" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">               
                    <button (click)="cancelar()" type="submit" class="btn btn-danger">Cancelar</button>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">               
                    <button type="submit" class="btn btn-info">Gravar</button>
                </div>
            </div>
        </div>
    </mat-card>
</div>
