<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="container">
        <mat-card>
            <mat-card-title>Cadastrar roupa</mat-card-title>
            <!-- <app-navbar title="Cadstro de tipo de roupa"></app-navbar> -->
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="cod">Cod:</label>
                        <input type="text" id="cod" class="form-control" disabled formControlName="id">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="modelo">Modelo:</label>
                        <input type="text" id="modelo" class="form-control" formControlName="modelo" autocomplete="off">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="ano">Ano:</label>
                        <input type="number" id="ano" class="form-control"  formControlName="ano">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="estacao">Estação:</label>
                        <select id="estacao" class="form-control" formControlName="estacao">
                            <option ></option>
                            <option value="1">PRIMAVERA</option>
                            <option value="2">VERÃO</option>
                            <option value="3">OUTONO</option>
                            <option value="4">INVERNO</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="tipo">Tipo:</label>
                        <select id="tipo" class="form-control"  formControlName="tipo">
                            <option></option>
                            <option>PRIMAVERA</option>
                            <option>VERÃO</option>
                            <option>OUTONO</option>
                            <option>INVERNO</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="tecido">Tecido:</label>
                        <select id="tecido" class="form-control"  formControlName="tecido">
                            <option></option>
                            <option>PRIMAVERA</option>
                            <option>VERÃO</option>
                            <option>OUTONO</option>
                            <option>INVERNO</option>
                        </select>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <h5>Lavagens adicionadas</h5><br>
                    <ngx-datatable
                    class="material striped"
                    [rows]="" 
                    [columnMode]="'force'"
                    [headerHeight]="50"
                    [footerHeight]="50"
                    rowHeight="auto"               
                    [count]=""
                    [offset]=""
                    [limit]="50"
                    [columns]="columns" 
                    [messages]="messages">
                        <!-- <ng-container *ngFor='let column of columns' >
                            <ngx-datatable-column  *ngIf='column.name === "Actions"' name="" prop="id" [sortable]="false"  [resizeable]="false" cellClass="{{column.algn}}">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <span>
                                        <button class="btn btn-danger p-0w" (click)="excluir(value)" data-toggle="tooltip" title="Excluir">
                                            <i class="fa fa-trash"></i>
                                        </button>                          
                                        <button class="btn btn-info p-0w" (click)="editar(value)" data-toggle="tooltip" title="Editar">
                                            <i class="fa fa-pencil"></i>
                                        </button>                          
                                    </span>
                                </ng-template>
                          </ngx-datatable-column>
                          <ngx-datatable-column *ngIf='column.name !== "Actions"' name="{{column.name}}" prop="{{column.prop}}" [sortable]="false"  [resizeable]="false"></ngx-datatable-column>
                        </ng-container> -->
                    </ngx-datatable>
                </div>
                <div class="col-md-6">
                    <h5>Lavagens disponíveis</h5><br>
                    <ngx-datatable
                    class="material striped"
                    [rows]="rows.dados" 
                    [columnMode]="'force'"
                    [headerHeight]="50"
                    [footerHeight]="50"
                    rowHeight="auto"               
                    [count]=""
                    [offset]=""
                    [limit]="50"
                    [columns]="columns" 
                    [messages]="messages">
                        <!-- <ng-container *ngFor='let column of columns' >
                            <ngx-datatable-column  *ngIf='column.name === "Actions"' name="" prop="id" [sortable]="false"  [resizeable]="false" cellClass="{{column.algn}}">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <span>
                                        <button class="btn btn-danger p-0w" (click)="excluir(value)" data-toggle="tooltip" title="Excluir">
                                            <i class="fa fa-trash"></i>
                                        </button>                          
                                        <button class="btn btn-info p-0w" (click)="editar(value)" data-toggle="tooltip" title="Editar">
                                            <i class="fa fa-pencil"></i>
                                        </button>                          
                                    </span>
                                </ng-template>
                          </ngx-datatable-column>
                          <ngx-datatable-column *ngIf='column.name !== "Actions"' name="{{column.name}}" prop="{{column.prop}}" [sortable]="false"  [resizeable]="false"></ngx-datatable-column>
                        </ng-container> -->
                    </ngx-datatable>
                </div>
            </div>
            <div class="row flex-button mt15">
                <div class="form-group pr">             
                    <button type="button" (click)="cancelar()" class="btn btn-danger">Cancelar</button>
                </div>
                <div class="form-group">               
                    <button type="submit" class="btn btn-info">Gravar</button>
                </div>
            </div>
        </mat-card>
    </div>
</form>